@{
    ViewData["Title"] = "NAZGUL.KG";
}

<div class="text-center">
    <h1 class="display-4">Кош келипсиз</h1>
    <p>Бул сайтты бул программист иштеп чыгып жатат <a href="https://www.melis.kg">Мелис Арчабаев</a></p>
</div>